## Case Study: Classification

The bank wants to understand the demographics and other characteristics of its customers that accept a credit card offer and that do not accept a credit card.

**Will the customer accept the credit card offer? Y/N**

#### Glossary
EDA = exploratory data analysis<br/>
data_num = numerical dataframe <br/>
data_cat = categorical datafrmae <br/>
avg = average<br/>

The **definition of the features** is the following:
- **Customer Number:** A sequential number assigned to the customers (this column is hidden and excluded – this unique identifier will not be used directly).
- **Offer Accepted:** Did the customer accept (Yes) or reject (No) the offer. Reward: The type of reward program offered for the card.
- **Mailer Type:** Letter or postcard.
- **Income Level:** Low, Medium or High.
- **#Bank Accounts Open:** How many non-credit-card accounts are held by the customer.
- **Overdraft Protection:** Does the customer have overdraft protection on their checking account(s) (Yes or No).
- **Credit Rating:** Low, Medium or High.
- **#Credit Cards Held:** The number of credit cards held at the bank.
- **#Homes Owned:** The number of homes owned by the customer.
- **Household Size:** Number of individuals in the family.
- **Own Your Home:** Does the customer own their home? (Yes or No).
- **Average Balance:** Average account balance (across all accounts over time). Q1, Q2, Q3 and Q4
- **Balance:** Average balance for each quarter in the last year

# 1. EDA

In the EDA we want to familirize ourselves with the data set. We are going to look at the following steps:

## Cleaning & Wrangling
 
- assess metrics (min/max difference features, check for outliers to clean)
- check shape
- data types (correct type for model, same units?)
- null values, white spaces, duplicates, (amount)unique values per col /unique(written same), mislabeled classes (male ≠ Male), typos/inconsistent capitalisation, irrelevant columns
- missing data

## Visualisations

- explore the relationships


## Preprocessing

- num vs cat data (split)
- multicollinearity
- imbalance
- distribution plots (normalising, scaling, outlier detection)

## Cleaning & Wrangling

In [1]:
# import basic libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# load dataset into a pandas dataframe
# renaming columns
data = pd.read_csv('/Users/josephinebiedermann/Desktop/DABC2021/GitHub/ProjectsPhine/Week5/creditcardmarketing.csv', header = None)

In [2]:
data.columns = ['customer_number','offer_accepted','reward','mailer_type', 'income_level','bank_accounts_open','overdraft_protection','credit_rating','credit_cards_held','homes_owned','household_size','own_home','avg_balance','q1_balance','q2_balance','q3_balance','q4_balance']

In [3]:
data.head()

,customer_number,offer_accepted,reward,mailer_type,income_level,bank_accounts_open,overdraft_protection,credit_rating,credit_cards_held,homes_owned,household_size,own_home,avg_balance,q1_balance,q2_balance,q3_balance,q4_balance
0,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
1,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
2,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
3,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
4,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.5,367.0,352.0,145.0,242.0

### Assess dataframe

In [4]:
# assess shape
data.shape

(18002, 17)

In [5]:
# assess column names
data.columns

Index(['customer_number', 'offer_accepted', 'reward', 'mailer_type',
       'income_level', 'bank_accounts_open', 'overdraft_protection',
       'credit_rating', 'credit_cards_held', 'homes_owned', 'household_size',
       'own_home', 'avg_balance', 'q1_balance', 'q2_balance', 'q3_balance',
       'q4_balance'],
      dtype='object')

In [6]:
#data types of columns
data.dtypes

customer_number         object
offer_accepted          object
reward                  object
mailer_type             object
income_level            object
bank_accounts_open      object
overdraft_protection    object
credit_rating           object
credit_cards_held       object
homes_owned             object
household_size          object
own_home                object
avg_balance             object
q1_balance              object
q2_balance              object
q3_balance              object
q4_balance              object
dtype: object

In [7]:
# list of columns, their non-null objects and data type of columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18002 entries, 0 to 18001
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_number       18002 non-null  object
 1   offer_accepted        18002 non-null  object
 2   reward                18002 non-null  object
 3   mailer_type           18002 non-null  object
 4   income_level          18002 non-null  object
 5   bank_accounts_open    18002 non-null  object
 6   overdraft_protection  18002 non-null  object
 7   credit_rating         18002 non-null  object
 8   credit_cards_held     18002 non-null  object
 9   homes_owned           18002 non-null  object
 10  household_size        18002 non-null  object
 11  own_home              18002 non-null  object
 12  avg_balance           17978 non-null  object
 13  q1_balance            17978 non-null  object
 14  q2_balance            17978 non-null  object
 15  q3_balance            17978 non-null  object
 16  q4_balance            17978 non-null  object
dtypes: object(17)
memory usage: 2.3+ MB

- 'customer_number' as this is only an index, which we already have, so we dont need it twice.<br/><br/>
- The rest of the data types look suiting to their description.

In [8]:
#check, if there are any nulls and NaN values in our data set
data.isna().sum()

customer_number          0
offer_accepted           0
reward                   0
mailer_type              0
income_level             0
bank_accounts_open       0
overdraft_protection     0
credit_rating            0
credit_cards_held        0
homes_owned              0
household_size           0
own_home                 0
avg_balance             24
q1_balance              24
q2_balance              24
q3_balance              24
q4_balance              24
dtype: int64

We can see that there are 24 entries for avg balance and q1-q5 balances, that have null values.<br/>
We suspect, that these 24 values are all the same rows for the 5 features.
24 out of 18.000 values is a faily small amount, which would justify to either drop the rows or replace the null values with the mean.<br/>
We will do so in the data cleaning phase.

In [9]:
# assess df's duplicated values
sum(data.duplicated())

1

Next step is to look at the **unique values in the categorical features**:

In [10]:
# check unique values
data['offer_accepted'].unique()

array(['Offer Accepted', 'No', 'Yes'], dtype=object)

In [11]:
# check unique values
data['reward'].unique()

array(['Reward', 'Air Miles', 'Cash Back', 'Points'], dtype=object)

In [12]:
# check unique values
data['mailer_type'].unique()

array(['Mailer Type', 'Letter', 'Postcard'], dtype=object)

In [13]:
# check unique values
data['income_level'].unique()

array(['Income Level', 'High', 'Medium', 'Low'], dtype=object)

In [14]:
# check unique values
data['overdraft_protection'].unique()

array(['Overdraft Protection', 'No', 'Yes'], dtype=object)

In [15]:
# check unique values
data['credit_rating'].unique()

array(['Credit Rating', 'High', 'Medium', 'Low'], dtype=object)

In [16]:
# check unique values
data['own_home'].unique()

array(['Own Your Home', 'No', 'Yes'], dtype=object)

All the unique values seem to be normal and expected.

We want to see the outliers in the numerical dataframe too.

In [17]:
# check for outliers in the numerical dataframe
data.describe()

,customer_number,offer_accepted,reward,mailer_type,income_level,bank_accounts_open,overdraft_protection,credit_rating,credit_cards_held,homes_owned,household_size,own_home,avg_balance,q1_balance,q2_balance,q3_balance,q4_balance
count,18002,18002,18002,18002,18002,18002,18002,18002,18002,18002,18002,18002,17978,17978,17978,17978,17978
unique,18001,3,4,3,4,4,3,4,5,4,9,3,4729,2159,1946,2282,2185
top,Customer Number,No,Air Miles,Postcard,Medium,1,No,High,2,1,3,Yes,1127.0,81.0,1060.0,809.0,497.0
freq,2,16977,6061,9147,9013,13692,15322,6071,7944,14523,5712,11655,17,23,30,30,26

Numerical values seems valid, I don't see any outliers which would make our lives harder when training the model.

In [18]:
# check for null or NaN values
data['avg_balance'].isnull().values.any()

True

In [19]:
# check for null or NaN values
data['q1_balance'].isnull().values.any()

True

In [20]:
# check for null or NaN values
data['q2_balance'].isnull().values.any()

True

In [21]:
# check for null or NaN values
data['q3_balance'].isnull().values.any()

True

In [22]:
# check for null or NaN values
data['q4_balance'].isnull().values.any()

True

## Cleaning tasks
- drop 'customer_number' column
- drop null values
- convert float columns to int

In [23]:
# before cleaning, create a copy of the dataframe
data_copy = data.copy()

In [24]:
# drop customer_number column
data.drop(['customer_number'], axis=1, inplace=True)

In [25]:
#test
data.head()

,offer_accepted,reward,mailer_type,income_level,bank_accounts_open,overdraft_protection,credit_rating,credit_cards_held,homes_owned,household_size,own_home,avg_balance,q1_balance,q2_balance,q3_balance,q4_balance
0,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
1,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
2,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
3,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
4,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.5,367.0,352.0,145.0,242.0

In [26]:
# drop rows with missing values
data = data.dropna()

In [27]:
#test 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17978 entries, 0 to 18001
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   offer_accepted        17978 non-null  object
 1   reward                17978 non-null  object
 2   mailer_type           17978 non-null  object
 3   income_level          17978 non-null  object
 4   bank_accounts_open    17978 non-null  object
 5   overdraft_protection  17978 non-null  object
 6   credit_rating         17978 non-null  object
 7   credit_cards_held     17978 non-null  object
 8   homes_owned           17978 non-null  object
 9   household_size        17978 non-null  object
 10  own_home              17978 non-null  object
 11  avg_balance           17978 non-null  object
 12  q1_balance            17978 non-null  object
 13  q2_balance            17978 non-null  object
 14  q3_balance            17978 non-null  object
 15  q4_balance            17978 non-null  object
dtypes: object(16)
memory usage: 2.3+ MB

In [28]:
# test2
data.isna().sum()

offer_accepted          0
reward                  0
mailer_type             0
income_level            0
bank_accounts_open      0
overdraft_protection    0
credit_rating           0
credit_cards_held       0
homes_owned             0
household_size          0
own_home                0
avg_balance             0
q1_balance              0
q2_balance              0
q3_balance              0
q4_balance              0
dtype: int64

In [29]:
# converting columns from float to int
data = data.astype({"avg_balance":'int', "q1_balance":'int',"q2_balance":'int',"q3_balance":'int',"q4_balance":'int'})

ValueError: invalid literal for int() with base 10: 'Average Balance'

In [ ]:
#test 
data.info()

### Visualisations

We want to find out which features makes the customer more prone to accept credit card offers, e.g. their income, or if they received the offer in mail vs. letter, how many houses they own, what is their average balance.

In [ ]:
# who accepted the offer vs who didn't
data['offer_accepted'].value_counts().plot(kind="bar");

In [ ]:
# what's the avg balance of customers who accepted the offer vs who didn't
sns.displot(data, x='avg_balance', hue='offer_accepted');

In [ ]:
# different income levels of who accepted the offer vs who didn't
sns.countplot(data = data, x = 'offer_accepted', hue = 'income_level');

In [ ]:
# amount of homes owned
sns.countplot(data = data, x = 'offer_accepted', hue = 'homes_owned');

Let's see the relationship between the quarters and offer accepted.

In [ ]:
# what's the q1 balance of customers who accepted the offer vs who didn't
sns.displot(data, x='q1_balance', hue='offer_accepted');

In [ ]:
# what's the q2 balance of customers who accepted the offer vs who didn't
sns.displot(data, x='q2_balance', hue='offer_accepted');

In [ ]:
# what's the q3 balance of customers who accepted the offer vs who didn't
sns.displot(data, x='q3_balance', hue='offer_accepted');

In [ ]:
# what's the q4 balance of customers who accepted the offer vs who didn't
sns.displot(data, x='q4_balance', hue='offer_accepted');

### Summary of Visual Assessment

We concluded we might need to go back to the cleaning steps and
- drop the quarter columns
- turn a couple of numerical columns (bank_accounts_open, credit_card_holds, homes_owned, household_size) to categorical (1 to 'one', etc)

because it will cause noise in our model.

## Preprocessing

We'll be looking at 
- splitting into num and cat
- multicollinarity
- normalizer
- encoding into dummies

In [30]:
# split numerical and categorical data into two dataframes
data_num = data.select_dtypes(include=['number'])
data_num.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
# split numerical and categorical data into two dataframes
data_cat = data.select_dtypes(include=['object'])
data_cat.head()

In [ ]:
#correlation for numerial columns
corr_matrix = data_num.corr()
fig, ax = plt.subplots(figsize = (18, 10))
sns.heatmap(corr_matrix, cmap ='seismic', center = 0, annot=True);

The corr matrix tells us which features are messing up our matrix. We might need to go back to the cleaning steps and turn these features into categorical ones.

In [ ]:
#normalizer
import numpy as np
from sklearn.preprocessing import Normalizer
X = data_num

In [ ]:
X.head(25)

In [ ]:
transformer = Normalizer().fit(X)
x_normalized = transformer.transform(X)

In [ ]:
X = pd.DataFrame(x_normalized, columns=X.columns)